<template>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">{{ header }}</div>
                <div class="col-6 text-right"><button class="btn btn-success m-0" v-on:click="createRoom">{{ addRoomButtonText }}</button></div>
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ nameHeader }}</th>
                    <th scope="col" class="text-right">{{ actionHeader }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="game in games">
                    <th scope="row">{{ game.id }}</th>
                    <td>{{ game.name }}</td>
                    <td class="text-right">
                        <button class="btn btn-primary">{{ joinButtonText }}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            'header', 'joinButtonText', 'nameHeader',
            'addRoomButtonText', 'actionHeader', 'joinRoomUrl',
            'createRoomUrl', 'roomsListUrl'
        ],

        data: function(){
            return {
                games: []
            }
        },

        methods: {
            createRoom: function(){
                axios.post(this.createRoomUrl).then((response) => {
                    let data = response.data;
                    if (data.success)
                    {
                        window.location.href = data.url;
                    }
                });
            }
        },

        mounted() {
            axios.post(this.roomsListUrl, {}).then((response) => {
                let data = response.data;
                console.log(data);
                if (data.success)
                {
                    this.games = data.results;
                }
            });

            Echo.channel('lobby').listen("NewRoomCreated", e => {
                this.games.push({
                    id: e.id,
                    name: e.name
                });
            });
            Echo.channel('lobby').listen("GameRoomNotAvailable", e => {
                this.games.splice(this.games.map(function(key, val){return val.id}).indexOf(e.id), 1);
            });
        },
    }
</script>
