<template>
    <div class="card">
        <div class="card-header">{{ header }}</div>

        <div class="card-body messages-box">
            <div class="card w-90 mt-2 message" :class="{ 'own-message': message.current }" v-for="message in messages" v-bind:title="message.date" data-toggle="tooltip" data-placement="top">
                <div class="card-body pt-2 pb-2">
                    <h5 class="card-title font-weight-bold" style="font-size: 12px;">{{ message.from }}</h5>
                    <hr class="mt-0 mb-2" />
                    <p class="card-text">{{ message.message }}</p>
                </div>
            </div>
            <div v-if="messages.length == 0">
                <span>{{ noMessagesText }}</span>
            </div>
        </div>

        <div class="card-footer">
            <input type="text" class="form-control d-inline" style="width: 70%" :placeholder="messagePlaceholder" v-model="message">
            <button class="btn btn-success d-inline w-25" style="position: relative; top:-2px" v-on:click="sendMessage">{{ buttonText }}</button>
        </div>
    </div>
</template>

<script>
    export default {

        props: ['channel', 'header', 'messagePlaceholder', 'buttonText', "sendUrl", "userId", 'noMessagesText'],

        data: function(){
            return {
                message: '',
                messages: []
            }
        },

        methods: {
            sendMessage: function(){
                axios.post(this.sendUrl, {
                    channel: this.channel,
                    message: this.message
                });
                this.message = '';
            }
        },

        created() {
            Echo.channel(this.channel).listen("NewMessage", e => {
                this.messages.unshift({
                    message: e.message,
                    from: e.username,
                    date: e.date,
                    current: parseInt(e.userId) == parseInt(this.userId)
                });
            });
        }
    }
</script>
