<template>
    <div class="notifications">
        <div v-for="message in messages" class="alert" v-bind:class="'alert-'+message.type" v-html="message.content" role="alert"></div>
    </div>
</template>

<script>
    export default {
        props: [
            'notifications',
            'userId'
        ],

        data: function(){
            return {
                messages: [],
                messageId: 0
            }
        },

        methods: {
            addMessage: function (item) {
                let messageId = this.messageId++;
                this.messages.push({
                    id: messageId,
                    type: item.type,
                    content: item.content
                });
                setTimeout(() => {
                    this.messages = this.messages.filter((item) => {
                        return item.id != messageId;
                    });
                }, 4000);
            }
        },

        mounted() {
            if (this.notifications.length > 0)
            {
                this.notifications.forEach((item) => {
                    this.addMessage(item);
                });
            }

            if (parseInt(this.userId) > 0)
            {
                Echo.private('App.User.' + this.userId).listen("UserNotification", e => {
                    console.log(e);
                    this.addMessage({
                        type: e.type,
                        content: e.content
                    });
                });
            }
        },
    }
</script>
