.messages-box {
    max-height: 500px;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    .message{
        &:not(.own-message){
            border-left: 5px solid #3490dc;
        }
        &.own-message {
            text-align: right;
            border-right: 5px solid #38c172;
        }
    }
}