req {
    &:after{
        content: '*';
        color: red;
        display: inline-block;
        font-size: 12px;
    }
}

.notifications {
    position: fixed;
    bottom: 0;

    @media (min-width:  320px) {
        width: 100%;
        right: 0;
    }
    @media (min-width:  640px) {
        width: 100%;
        right: 0;
    }
    @media (min-width:  768px) {
        width: 25%;
        right: 10px;
    }
}